{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <!-- ======= Hero Section ======= -->
    <section id="menu" class="hero d-flex align-items-center section-bg">
        <div class="container">
            <div class="row justify-content-between gy-5">
                <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                    <h2 data-aos="fade-up">{{ post.title }}<br></h2>

                    <p class="date"> Published {{ post.publish }} by {{ post.author }} </p>

                    <span class="count"> {{ total_views }} view{{ total_views|pluralize }} </span>

                    <p data-aos="fade-up" data-aos-delay="100">{{ post.body|linebreaks }}</p>

                    {% if post.servings %}
                        <div style="display: flex; margin-bottom: 15px;">
                            <h5>Servings: 
                                <b style="padding-left: 10px;">{{ post.servings }} people</b>
                            </h5>
                        </div>
                    {% endif %}
                    
                    <h5>Ingredients: </h5>
                    {% if post.ingredients %}
                        <div style="padding-left: 10px;">{{ post.ingredients|linebreaks }}</div>
                    {% endif %}

                    <h5>Directions: </h5>
                    {% if post.direction_step %}
                        <div style="padding-left: 10px;">{{ post.direction_step|linebreaks }}</div>
                    {% endif %}

                    <h5>Nutrition Facts (per serving): </h5>

                    {% if post.nutrition_calories %}
                        <div style="display: flex;">
                            <div style="padding-left: 10px;"><b>Calories: </b></div>
                            <div style="padding-left: 10px;"><span>{{ post.nutrition_calories }} calories</span></div>
                        </div>
                    {% endif %}

                    {% if post.nutrition_carbs %}
                        <div style="display: flex;">
                            <div style="padding-left: 10px;"><b>Carbs: </b></div>
                            <div style="padding-left: 10px;"><span>{{ post.nutrition_carbs }} g</span></div>
                        </div>
                    {% endif %}

                    {% if post.nutrition_protein %}
                        <div style="display: flex;">
                            <div style="padding-left: 10px;"><b>Protein: </b></div>
                            <div style="padding-left: 10px;"><span>{{ post.nutrition_protein }} g</span></div>
                        </div>    
                    {% endif %}
                    
                    {% if post.nutrition_fat %}
                        <div style="display: flex;">
                            <div style="padding-left: 10px;"><b>Fat: </b></div>
                            <div style="padding-left: 10px;"><span>{{ post.nutrition_fat }} g</span></div>
                        </div>    
                    {% endif %}

                </div>
                
                <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                    {% load thumbnail %}
                    {% if post.image %}
                        {% if request.user.is_authenticated %}
                            {% thumbnail post.image 526x526 crop="smart" as im %}
                            <a href="{{ post.get_absolute_url }}"><img style="padding-top: 10px;" src="{{ im.url }}" class="menu-img img-fluid" alt=""></a>
                        {% else %}
                            {% thumbnail post.image 526x526 crop="smart" as im %}
                            <a href="{{ post.get_absolute_url_home }}"><img style="padding-top: 10px;" src="{{ im.url }}" class="menu-img img-fluid" alt=""></a>
                        {% endif %}
                    {% endif %}

                    {% if post.video %}
                        <div class="d-flex" style="padding-top: 20px;" data-aos="fade-up" data-aos-delay="200">
                            <a href="{{ post.video.url }}" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->
    
    <div class="contact">
        <div class="container">
                    
                {% with comments.count as total_comments %}
                    <p>{{ total_comments }} comment{{ total_comments|pluralize }}</p>
                {% endwith %}
        
                {% for comment in comments %}
                    <div class="comment">
                        <p class="info"> Comment {{ forloop.counter }} by {{ request.user.first_name }} {{ comment.created }} </p>
                        {{ comment.body|linebreaks }}
                    </div>
                    {% empty %}
                    <p>There are no comments yet.</p>
                {% endfor %}

        </div>
    </div>
    

    

{% endblock %}